<table>
  <div class="card-body">
    <tbody>
      <div class="container">
      <h1 class="text-center mb-4 mt-4">メニュー一覧</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
          <%= render partial: 'menu', collection: @menus %>
        </div>
      </div>
    </tbody>
  </div>
</table>
