<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        #jsmind_container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 600px;
            width: 1000px;
            background-color: red;
        }

        a {
            text-decoration: none;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="jsmind_container"></div>
    <script type="text/javascript">

    var mind = {
        "meta": {
            "name": "demo",
            "author": ''
        },
        "format": "node_array",
        "data": [
            {"id":"root", "isroot":true, "topic":"<a href='http://localhost:3000/menus/new'><%= j(render 'menu_details', menu: @menu) %></a>", "direction":"left"},
            
            {"id":"easy", "parentid":"root", "topic":"Easy", "direction":"right"},
            {"id":"easy1", "parentid":"easy", "topic":"Easy to show"},
            {"id":"easy2", "parentid":"easy", "topic":"Easy to edit"},
        

            {"id":"open", "parentid":"root", "topic":"Open Source", "direction":"right"},
            {"id":"open1", "parentid":"open", "topic":"on GitHub"},
            {"id":"open2", "parentid":"open", "topic":"BSD License"},

            {"id":"powerful", "parentid":"root", "topic":"Powerful", "direction":"right"},
            {"id":"powerful1", "parentid":"powerful", "topic":"Base on Javascript"},
            {"id":"powerful3", "parentid":"powerful", "topic":"Depends on you"},

            {"id":"test", "parentid":"root", "topic":"Test Node", "direction":"right"},
            {"id":"test1", "parentid":"test", "topic":"I'm from local variable"},
            {"id":"test2", "parentid":"test", "topic":"I can do everything"}
        ]
    };
        var options = {
            container: 'jsmind_container',
            editable: true,
            theme: 'orange',
            mode :'full',

        };
        var jm = new jsMind(options);
        jm.show(mind);
    </script>
</body>

</html>
