/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a:hover {
  color: rgba(53, 49, 49, 0.303);
  background-color: transparent;
}

/* アクティブな状態（通常時） */
.btn.btn-primary {
  color: #fff !important; /* !importantを追加して強制的に適用 */
}

/* ホバー時 */
.btn.btn-primary:hover {
  color: #fff !important; /* !importantを追加して強制的に適用 */
}

#name_field {
  background-color: #FFA500; /* 暖かいオレンジ色 */
  border: 1px solid #000000; /* 枠線を設定 */
}

#name_field:focus {
  border-color: #008cff; /* フォーカス時の枠線色をオレンジ色に設定 */
  box-shadow: 0 0 3px 1px #008cff; /* オレンジ色の影を追加 */
}

#input {
  display: block;
  margin-top: 10px;
}

/* ボタン全体に適用するスタイル */
#form_area button {
  border: none; /* ボーダーをなくす */
  background: none; /* 背景を透明にする */
  cursor: pointer; /* カーソルをポインターに変更 */
  padding: 0; /* パディングをなくす */
  font-size: 16px; /* ボタンのテキストサイズを設定 */
}

/* マウスオーバー時のスタイル */
#form_area button:hover {
  text-decoration: underline; /* マウスオーバー時に下線を表示 */
}

/* ボタン内のテキスト（"×"）のマウスオーバー時のスタイル */
#form_area button:hover::before {
  color: red; /* マウスオーバー時のテキストの色を変更 */
}


@import "custom_styles";
@import 'bootstrap';
@import 'font-awesome';
