.wrapKOPIPE-OK {
  padding: 60px;
  background: #f8f8f0;
  border-radius: 20px;
  font-family: Roboto, 'Noto Sans JP', "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, Helvetica, sans-serif;
}

.wrapKOPIPE-OK h1 {
  margin: 0 0 50px 0;
  font-size: 36px;
  font-weight: bold;
}

.wrapKOPIPE-OK h2 {
  margin: 50px 0 40px 0;
  padding: 15px 0 15px 20px;
  font-size: 28px;
  border-left: 5px solid #5db5bd;
  font-weight: bold;
}

.wrapKOPIPE-OK p {
  font-family: Roboto, 'Noto Sans JP', "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: bold;
}

.wrapKOPIPE-OK li {
  font-family: Roboto, 'Noto Sans JP', "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: bold;
}

/* ↓メニュー一覧に使用したcss↓ */

.row {
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.menu-image {
  padding: 0.25rem;
  background-color: #f5f4f8;
  width: 360px;
  height: 130px;
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-card {
  text-decoration: none;
}

.menu-content-container {
  display: flex;
  align-items: center;
  justify-content: center; /* 必要に応じて center 以外の値に調整 */
  border: 1px solid #e8e7ed;
  border-radius: 0.25rem;
  position: relative;
}

.favorite-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.menu-container {
  margin-left: 10px; /* 例として左に余白を追加 */
  color: black;
  pointer-events: none;
  text-decoration: none;
}

.h4 {
}

/* メニュー詳細画面 */
