/* ヘッダーの設定 */

/* Smaller text size for links */
.nav-link.small-text {
  font-size: 0.7rem; /* フォントサイズを0.8倍に設定 */
}

/* Align icons and text vertically */
.nav-item.d-flex.flex-column.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Set font size for icons */
.nav-item i {
  font-size: 1.5rem; /* Default size for all icons */
}

/* Override Bootstrap's default padding for nav-link */
.nav-link {
  padding: 3px 3px; /* Adjust these values as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-custom .container {
  padding-left: 15px;
  padding-right: 15px;
}