/* ヘッダーの設定 */

.nav-link.small-text {
  font-size: 0.7rem;
}

.nav-item.d-flex.flex-column.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item i {
  font-size: 1.5rem;
}

.nav-link {
  padding: 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-custom .container {
  padding-left: 15px;
  padding-right: 15px;
}

.img-menu_image {
  object-fit: contain;
  width: 100%;
  height: 200px;
}